<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>BlogBlitz</title>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>

        <p>home</p>
        <%= JSON.stringify(user) %> <%- include("./partials/scripts.ejs") %>
    </body>
</html>
