<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>BlogBlitz</title>
    </head>
    <body class="bg-gray-900">
        <%- include("./partials/nav.ejs") %>
        <p class="text-white"><%= JSON.stringify(user) %></p>
        <%- include("./partials/scripts.ejs") %>
    </body>
</html>
