<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>Login Page</title>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>

        <p><b>Login Page</b></p>

        <%- include("./partials/scripts.ejs") %>
    </body>
</html>
