<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>Signup Page</title>
    </head>
    <body class="bg-gray-900 overflow-hidden">
        <!-- Navbar -->
        <%- include("./partials/nav.ejs") %>

        <section
            class="text-gray-400 lg:h-full body-font flex justify-center items-center lg:mt-40"
        >
            <div
                class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0"
            >
                <form action="/user/signup" method="POST">
                    <h2 class="text-white text-lg font-medium title-font mb-5">
                        Sign Up
                    </h2>
                    <div class="relative mb-4">
                        <label
                            for="full-name"
                            class="leading-7 text-sm text-gray-400"
                        >
                            Full Name
                        </label>
                        <input
                            type="text"
                            id="fullName"
                            name="fullName"
                            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        />
                    </div>
                    <div class="relative mb-4">
                        <label
                            for="email"
                            class="leading-7 text-sm text-gray-400"
                        >
                            Email
                        </label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        />
                    </div>
                    <div class="relative mb-4">
                        <label
                            for="password"
                            class="leading-7 text-sm text-gray-400"
                        >
                            Password
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        />
                    </div>
                    <button
                        class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        type="submit"
                    >
                        Submit
                    </button>
                </form>
                <p class="text-xs mt-3">
                    We won't share your information with anybody.
                </p>
            </div>
        </section>

        <%-include("./partials/scripts.ejs") %>
        <%-include("./partials/footer.ejs") %>
    </body>
</html>
